* {
    font-family: sans-serif;
}

h1,
h3 {
    margin: 0px;
}

span {
    font-size: 15px;
}

i {
    padding-right: 4px;
}

button:focus {
    outline: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 4px 5px 24px #888888;
    border-radius: 6px;
    /*width: 30%;*/
    padding: 20px;
    min-width: 281px;
}

.userInput {
    width: 74%;
    height: 31px;
    border-radius: 4px;
    border-style: ridge;
    border-color: #efefef;
    font-size: 14px;
    padding-left: 5px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #cecece;
    font-size: 14px;
    padding-left: 5px;
}

.searchDiv {
    width: 83%;
}

.searchDiv form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.searchButton {
    background: -webkit-linear-gradient(top, #ffffff, #d0caca);
    padding: 8.5px 17px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
}

.searchButton:active {
    border-top-color: #d1d1d1;
    background: #d1d1d1;
}

.profileInfo {
    width: 83%;
}

.userInfo {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.userData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profilePhoto {
    height: 70px;
    width: 70px;
    margin-right: 10px;
    border-radius: 4px;
}

.repos {
    border-bottom: 2px;
    border-bottom-color: #d1d1d1;
    border-bottom-style: ridge;
    width: 83%;
    padding: 20px 0 10px 0;
}

.reposResult {
    border-bottom: 1px;
    border-bottom-color: #d1d1d1;
    border-bottom-style: ridge;
    width: 83%;
    padding: 15px 0 15px 0;
    list-style-type: none;
}

.reposResult li {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.repoUL {
    padding-left: 0px;
    margin-top: 0px;
}

.ajaxReturn {
    width: 100%;
    padding-left: 18%;
}

.ajaxReturnOut {
    width: 100%;
    padding-left: 18%;
    display: none;
}
.errorOut{
    display: none;
}
.error{
    border: 2px;
    border-color: red;
    border-style: ridge;
    background-color: rgba(214, 153, 153, 0.5);
    padding: 20px;
    margin-top: 20px;
}
.error span{
    color: red;
}
